.sur-player {
    background: #211130;
    height: 65px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 3px solid #3c84ffa1;
}

audio::-webkit-media-controls-panel {
    width: 500px;
}

.sur-track-info img {
  width: 44px;
  position: relative;
  top: 8px;
  margin-left: 33px;
  margin-right: 10px;
  border-radius: 1px;
}

.sur-track-info span {
  color: #fff;
  position: relative;
  top: 10px;
  font-size: 12px;
}

.sur-player-controls {
  margin-top: 13px;
}

.sur-player-controls .sur-play-btn {
    margin: 0 46px;
}

.sur-player-btns {
  text-align: center;
}

.sur-player-prev-btn,
.sur-player-next-btn{
    width: 24px;
}

.duration {
  color: #fff;
  text-align: center;
}